body {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

p {
    font-family: poppins;
    font-style: italic;
    font-weight: 550;
    color: #000000;
    font-size: 3vh;
}

h1 {

    font-family: poppins;
    font-style: italic;
    font-weight: 550;
    color: #fff;
    font-size: 6vh;
    margin: 0;
}

.topnav {
    position: sticky;
    top: 0;
    margin: 0;
}

.topnav a + a {
    border-left: 1px solid #fff;
    padding-left: 5px;
}

.title {
    background-color: #4D113E;
    height: 14vh;
    width: 100%;
    line-height: 14vh;
}

.links {
    background-color: #0D8488;
    height: 6vh;
    width: 100%;
    line-height: 6vh;
}

.one {
    background-color: #13365D;
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.two {
    background-color: #0D8488;
    height: 25.5vh;
}
.three {
    background-color: #4D113E;
    height: 10vh;
}

.words {
    border: 0px solid #ddd;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    text-transform: uppercase;
    overflow: hidden;
}

.words span {
    position: relative;
    color: #000;
    animation: animation 10s ease infinite;
}

@keyframes animation {
    0%,
    100% { top: 0; }
    20% { top: 0; }
    25% { top: -50px; }
    45% { top: -50px; }
    50% { top: -100px; }
    70% { top: -100px; }
    75% { top: -150px; }
    95% { top: -150px; }

}

.carousel {
    margin: 100px auto;
    border: 0.5vh solid #0D8488;
    display: flex;
    overflow-x: auto;
    gap: 1vh;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vh;
    animation: spin 14s infinite linear;
    gap: 1vh;
    padding-right: 0vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.card {
    width: 24vh;
    height: 24vh;
    flex: 0 0 auto;
    background: #4D113E;
    font-size: 3vh;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    transition: 2s;
}

.card img {
    width: 16vh;
    height: auto;
}

.card img, .card h3, .card p {
    margin: 1vh;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

/*box sizing*/
@media (max-width:900px) and (min-width: 601px) {
    .card {
        height: 24vh;
        width: 24vh;
    }
}
@media (max-width:600px) {
    .card {
        height: 16vh;
        width: 16vh;
    }
}
@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}
